
<div id="googleMap" style="width:500px;height:380px;"></div>

    <script src="http://maps.googleapis.com/maps/api/js"></script>

<script>
var markers = [];
var map;
var myCenter=new google.maps.LatLng(49.424597,32.052612);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
  });
}

function placeMarker(location) {
   for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
  var marker = new google.maps.Marker({
    position: location,
    map: map,
  });
  var infowindow = new google.maps.InfoWindow({
    content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
  });
  infowindow.open(map,marker);
  alert('Latitude: ' + location.lat() + 'Longitude: ' + location.lng());
  $('#map_lat').val(location.lat());
  $('#map_lng').val(location.lng());
  //Add marker to the array.
                markers.push(marker);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>



<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
