<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @map.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @map.lng %>
</p>






<div id="googleMap" style="width:500px;height:380px;"></div>

<!-- Add Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
var myCenter = new google.maps.LatLng(<%= @map.lat %>, <%= @map.lng %>);

function initialize() {
var mapProp = {
  center:myCenter,
  zoom:5,
  scrollwheel:false,
  draggable:false,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>




<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
